<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <a mat-stroked-button routerLink="produtos/listar" routerLinkActive="active" color="warn"
              >Produtos</a
            >
            <a mat-stroked-button routerLink="clientes/listar" routerLinkActive="active" color="warn"
              >Clientes</a
            >
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
