.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  background-color: #030704;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.logo img{
  height: 60px;
}

a{
  text-decoration: none;
  color: #fff;
}


