<main>
  <section id="section-login">

    <div class="mb-3 row header-login">
      <img src="/assets/img/logo.png" alt="">
    </div>
    <div class="mb-3 row">
      <h2>Bem Vindo!</h2>
    </div>

    <form action="" class="row-g3">

    <div class="mb-2 row">
        <input type="text" class="form-control" id="staticUsuario"  placeholder="Usuário">
    </div>

    <div class="mb-4 row">
        <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
    </div>


    <div class="mb-3 row">
      <button class="btn btn-primary">Entrar</button>
    </div>

  </form>
  </section>
</main>
