<main>
  <h2>Editar Cliente</h2>
  <form class="row g-3" *ngIf="cliente">
    <div>
      <label for="id">ID:</label>
      <input type="text" id="id" name="id" [(ngModel)]="cliente.id" readonly />
    </div>
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="cliente.nome" />
    </div>
    <div>
      <label for="endereco">Endereço:</label>
      <input
        type="text"
        id="endereco"
        name="endereco"
        [(ngModel)]="cliente.endereco"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-3" (click)="atualizar(cliente.id)">Atualizar</button>
  </form>
</main>
